.vs/
# Ignore environment file
.env

docker-compose.override.yml
appsettings.Development.json
TradingIntelligence.Api/appsettings.Development.json
TradingIntelligence.Api/bin/Debug/net10.0/appsettings.Development.json
